<!--=== Content Part ===-->
<div class="container content">
    <img class="img-responsive" src="assets/img/pages/graduatedCertificate.png" alt="certificate">
    <div class="headline"><h2>Graduated students</h2></div>
    <!--Table Striped-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th class="hidden-sm">Name</th>
            <th>VID</th>
            <th>PreFlight-Academy</th>
            <th>IRFlight-Academy</th>
            <th>Flight-Academy</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td class="hidden-sm">Yassin Mortelmans</td>
            <td>300436</td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
            <td>2</td>
            <td class="hidden-sm">Wesley van Wijngaarden</td>
            <td>353841</td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
            <td>3</td>
            <td class="hidden-sm">Sotiris Aligiannis</td>
            <td>304585</td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
            <td>4</td>
            <td class="hidden-sm">Sotirios Despotopoulos</td>
            <td>278631</td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-times"></i></td>
            <td class="text-center"><i class="fa fa-check"></i></td>
        </tr>
        <tr>
            <td>...</td>
        </tr>
        </tbody>
    </table>
    <!--End Table Striped-->
</div>
<!--=== End Content Part ===-->