<!-- CSS Page Style -->
<link rel="stylesheet" href="assets/css/pages/pricing/pricing_v6.css">

<!--=== Content Part ===-->
<div class="container content">
    <img class="img-responsive" src="assets/img/pages/blackWhitePlane.png" alt="Black and white plane"/>
    <div class="headline"><h2>Training</h2></div>
    <h3>Step by step procedures</h3>

    <p>Training at the PreFlight-Academy is held individually on our dedicated training server which guarantees a fully
        controlled worldwide environment and airspace by the trainer. The Netherlands has a great airspace and we
        provide there mostly our trainings.</p>

    <h3>How much training do I get per month?</h3>

    <p>Your training sessions will be held twice a month, at most. In the time between the training you will have to do
        a lot of self-study. You will need to study your theory using the <strong>IVAO academy</strong> because their theory is
        specifically tailored to the IVAO theory exams.</p>

    <h3>Official certificate</h3>

    <p>We will conclude your training with an exam to test your practical skills. Once you have passed you will receive
        an official certificate and your IVAO account will be augmented with a VA profile that will show the
        rating in your personal information.</p>

    <!-- Pricing Table-v6 -->
    <div class="row margin-bottom-10 no-space-pricing-v6">
        <div class="col-md-4 col-sm-12 col-xs-12 col-width-full">
            <div class="pricing-table-v6">
                <div class="service-block service-block-green">
                    <i class="icon-custom icon-color-light rounded-x fa fa-sun-o"></i>

                    <h2 class="heading-md">PREFLIGHT-ACADEMY</h2>

                    <p>Course for those who find them self's struggling with flying using visual flight rules.</p>

                    <ul class="list-unstyled pricing-v4-content text-center">
                        <li>Communications</li>
                        <li>METAR</li>
                        <li>QDM / QDR on NDB and VOR</li>
                        <li>NDB bearing TO and FROM</li>
                        <li>Reading Charts</li>
                        <li>Levels and Altitudes</li>
                        <li>Aircraft equipment</li>
                        <li>Air Classifications</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 col-width-full">
            <div class="pricing-table-v6">
                <div class="service-block service-block-red">
                    <i class="icon-custom icon-color-light rounded-x fa fa-compass"></i>

                    <h2 class="heading-md">IRFLIGHT-ACADEMY</h2>

                    <p>Course for those who want to learn the beginnings of IFR on a two prop plane.</p>

                    <ul class="list-unstyled pricing-v4-content">
                        <li>Communications</li>
                        <li>IFR</li>
                        <li>METAR / TAF</li>
                        <li>VOR inbound / outbound</li>
                        <li>VOR sector intercept</li>
                        <li>Precision and non-precision approaches</li>
                        <li>Missed approach procedures</li>
                        <li>Reading Charts</li>
                        <li>Holding pattern (Direct Entry)</li>
                        <li>Levels and Altitudes</li>
                        <li>Aircraft equipment</li>
                        <li>Air Classifications</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 col-width-full">
            <div class="pricing-table-v6">
                <div class="service-block service-block-dark-blue">
                    <i class="icon-custom icon-color-light rounded-x fa fa-plane"></i>

                    <h2 class="heading-md">FLIGHT-ACADEMY</h2>

                    <p>Course for those who want to learn advanced IFR and fly procedures. Will be flown in a multiple engine jetliner</p>

                    <ul class="list-unstyled pricing-v4-content text-center">
                        <li>Communication</li>
                        <li>METAR / TAF</li>
                        <li>VOR radial sector intercept</li>
                        <li>Precision and non-precision approaches</li>
                        <li>Missed approach procedures</li>
                        <li>IAF rules 90 / 120 degree</li>
                        <li>Reading Charts</li>
                        <li>ARC DME</li>
                        <li>Holding patterns standard</li>
                        <li>Holding patterns on DME fix</li>
                        <li>Procedure turns</li>
                        <li>Circling to land</li>
                        <li>Emergencies</li>
                        <li>Levels and Altitudes</li>
                        <li>Light configuration</li>
                        <li>Aircraft equipment</li>
                        <li>Air Classifications</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Pricing Table-v6 -->
</div><!--/container-->
<!--=== End Content Part ===-->