<!--=== Content Part ===-->
<div class="container content">
    <img class="img-responsive" src="assets/img/pages/activePilots.png" alt="Active Pilots"/>
    <div class="headline"><h2>Active students</h2></div>
    <!-- PreFlightPanel -->
    <div class="panel panel-green">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-sun-o"></i> PreFlight-Academy</h3>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th class="hidden-sm">Name</th>
                <th>VID</th>
                <th>Level</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td class="hidden-sm">Dennis Boetes</td>
                <td>320231</td>
                <td>Level 6</td>
            </tr>
            <tr>
                <td>2</td>
                <td class="hidden-sm">Marinus Bergsma</td>
                <td>466874</td>
                <td>Level 6</td>
            </tr>
            <tr>
                <td>3</td>
                <td class="hidden-sm">Peter Schalk</td>
                <td>256272</td>
                <td>Level 5</td>
            </tr>
            <tr>
                <td>4</td>
                <td class="hidden-sm">Alex Krijgsman</td>
                <td>432653</td>
                <td>Level 5</td>
            </tr>
            <tr>
                <td>...</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- End PreFlightPanel -->
    <!-- IRFlightAcademyPanel -->
    <div class="panel panel-red">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-compass"></i> IRFlight-Academy</h3>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th class="hidden-sm">Name</th>
                <th>VID</th>
                <th>Level</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td class="hidden-sm">Fokke Stoelwinder</td>
                <td>378432</td>
                <td>Level 6</td>
            </tr>
            <tr>
                <td>2</td>
                <td class="hidden-sm">Nicholas M. Glykos</td>
                <td>980952</td>
                <td>Level 6</td>
            </tr>
            <tr>
                <td>3</td>
                <td class="hidden-sm">Muhammad Nawaz</td>
                <td>464998</td>
                <td>Level 6</td>
            </tr>
            <tr>
                <td>4</td>
                <td class="hidden-sm">Peter Suijdendorp</td>
                <td>358847</td>
                <td>Level 2</td>
            </tr>
            <tr>
                <td>...</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- End IRFlightAcademyPanel -->
    <!-- FlightAcademyPanel -->
    <div class="panel panel-dark-blue">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-plane"></i> Flight-Academy</h3>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th class="hidden-sm">Name</th>
                <th>VID</th>
                <th>Level</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td class="hidden-sm">Muhammad Nawaz</td>
                <td>464998</td>
                <td>Level 6</td>
            </tr>
            <tr>
                <td>2</td>
                <td class="hidden-sm">Frans Janssen</td>
                <td>289636</td>
                <td>Level 3</td>
            </tr>
            <tr>
                <td>3</td>
                <td class="hidden-sm">Kevin Quasten</td>
                <td>462819</td>
                <td>Level 1</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- End FlightAcademyPanel -->
</div>
<!--=== End Content Part ===-->