<!-- About Me Block -->
<div class="container content-sm">
    <div class="row about-me">
        <div class="col-sm-4 shadow-wrapper md-margin-bottom-40">
            <div class="box-shadow shadow-effect-2">
                <img class="img-responsive img-bordered full-width" src="assets/img/team/img3-md.jpg" alt="">
            </div>
        </div>

        <div class="col-sm-8">
            <div class="overflow-h">
                <div class="pull-left">
                    <h2>Hank Dwayne Matray</h2>
                    <span>Chief Executive Officer & Training Director</span>
                </div>
            </div>
            <p>Hank has been involved in flight simulation since 1985, using the motto 'As real as it gets' very early
                on. He is the founder of the Flight-Academy® and has made countless video tutorials for the FA. He
                regards every new student as a challenge and conveying knowledge keeps him young.</p>
        </div>
    </div>
</div>
<!-- End About Me Block -->