<!--=== Content Part ===-->
<div class="container content">
    <img class="img-responsive" src="assets/img/pages/airplaneAtGate.png" alt="planeAtGate"/>

    <div class="headline">
        <h2>Subscribe
            <small>Your first step to recieve an account</small>
        </h2>
    </div>

    <p>It is our policy that you should minimally have the (IVAO) SPP rating prior to applying. This is to ensure not
        too much time will be lost in teaching the basic principles of flying.</p>

    <p>Please be advised that the Flight-Academy does not perform IVAO exams. Our goal is to help you increase your
        knowledge base to take your IVAO ratings without many problems. You will receive an FA certificate upon
        completion of your training at the FA.</p>

    <p>The Flight-Academy reserves the right to dismiss you if you do not abide by the rules maintained by the FA, which
        are the same as the IVAO rules. The FA also supervises your training. Should you not sufficiently study or
        participate in the lessons, your personal instructor will contact the senior staff and discuss your file,
        possibly resulting in a dismissal. We will work together with you, but you need to work as well!</p>

    <hr class="devider devider-db">

    <p>You may enroll if you can answer yes to the following questions:</p>
    <ul class="list-unstyled">
        <li><i class="fa fa-check color-dark-blue"></i> Are you a registered IVAO member?</li>
        <li><i class="fa fa-check color-dark-blue"></i> You must have the IVAO rating of Private Pilot IFR(SPP)</li>
        <li><i class="fa fa-check color-dark-blue"></i> Are you motivated and do you possess self-discipline?</li>
        <li><i class="fa fa-check color-dark-blue"></i> Do you have sufficient knowledge of the English language?</li>
        <li><i class="fa fa-check color-dark-blue"></i> You are prepared to do at least a few hours of study a week
            separately from your lessons at the Flight-Academy.
        </li>
    </ul>

    <p>If you have answered yes to all these questions, we invite you to apply, thus requesting an Checkride. We will
        then schedule you for an Checkride soon. As a student of the FA you agree to the obligation to not miss out on
        any study sessions and thoroughly study the theory lessons, when required.</p>

    <p>Please note when you decide to subscribe, you will receive mailing concerning our Flight-Academy and your study.
        No information of our students will be send to others than only our staff members.</p>

    <p>In case of full occupancy of our trainer-pilot roster you will be placed on a waiting list. You will be notified
        as soon as possible when one of our trainers will be available to start the trainings with you.</p>

    <p>Since our course is high rated, some pilots will encounter difficulties to fulfill the study. Some will succeed,
        some will not. For that reason we will take a trail of four lessons for every student to see if you are suitable
        to follow our entire program and can be admitted to our academy.</p>

    <div class="text-center">
        <a class="btn-u btn-u-dark-blue margin-top-20" href="#/subscribeForm">I agree with the Flight-Academy policy</a>
    </div>
</div>
<!--=== End Content Part ===-->