<!--=== Content Part ===-->
<div class="container content">
    <img class="img-responsive" src="assets/img/pages/testimonials.png" alt="testimonials"/>
    <div class="headline">
        <h2>What do students say?
            <small>Testimonials from graduated students</small>
        </h2>
    </div>
    <div id="testimonials-8" class="testimonials testimonials-v2">
        <div class="item">
            <p>I want to thank the Flight-academy for the great work they are delivering. I wouldn‘t have learned so
                much if I didn‘t join the Flight-academy. I had some trouble with intercepting radials and performing
                holding patterns. The Flight-academy took all the time necessary in order for me to get it. The
                Flight-academy is not a place to rush to the exam, but it‘s a great place to fully understand what
                you‘re doing.</p>

            <div class="testimonial-info">
                                        <span class="testimonial-author">
                                            Joeri Smits
                                            <em>Flight-Academy - February, 1th 2015</em>
                                        </span>
            </div>
        </div>
        <hr class="devider devider-db">
        <div class="item">
            <p>When I started my training at Pre-flight Academy I already had some knowledge of flying VFR. Although I
                never managed to make a good flight-preparation and stumbled on the RT. That gap was filled immediately
                by the enormous package of knowledge and (RL-) experience at Pre-flight Academy. Thanks to those guys I
                now have experience with METAR, TAF, ATIS, RT, reading VA-charts, reading the Aeronautical Charts, and
                so on.
                I'm proud to say I passed the IVAO PP-exam and am really excited to plan my next VFR-flight on the
                network. When you know what you are doing the fun- and satisfaction factor triples! And the more good
                VFR-pilots on the networks, the more good examples there are to be followed. I'm moving on to the next
                level, I can't wait to learn more from the team! </p>

            <div class="testimonial-info">
                                        <span class="testimonial-author">
                                            Anko Cazemier
                                            <em>PreFlight-Academy - March 30th 2015</em>
                                        </span>
            </div>
        </div>
        <hr class="devider devider-db">
        <div class="item">
            <p>The Flight Academy is an excellent group who teaches you great things to make flying more realistic as
                possible. From the first day I got in touch with the Flight Academy I already knew this was the perfect
                place to expand my knowledge about flying. I want to thank especially the Trainers for their time,
                patience and energy they put in my lessons. Thanks to these lessons I can fly more realistic in the
                virtual skies of IVAO . Also the documents of the Flight Academy are very attractive and easy to study.
                So I would recommend to all virtual pilots who really want to develop their practical skills and
                theoretical as well, should be at this place for perfect completion of virtual flying.</p>

            <div class="testimonial-info">
                                        <span class="testimonial-author">
                                            Yassin Mortelmans
                                            <em>Flight-Academy - May, 15th 2011</em>
                                        </span>
            </div>
        </div>
    </div>
    <p>...</p>
</div>
<!--=== End Content Part ===-->